@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=Montserrat&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=Montserrat:wght@400;700&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Mi Fuente';
    src: url('../fuentes/Franklin\ Gothic\ Extra\ Condensed.ttf') format('truetype');
}
body::-webkit-scrollbar {
    width: 15px; 
}
body::-webkit-scrollbar-track {
    background-color: rgba(220, 220, 220, 0.2);
    background-color: #2a2a2a;
}
body::-webkit-scrollbar-thumb {
    background-color: #02ADAE;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* Boton Whatsapp */
.boton-whatsapp {
    width: 30px;
    height: 30px;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.boton-whatsapp a {
    text-decoration: none;
    color: white;
}
.boton-whatsapp i {
    font-size: 35px;
}
/* Barra de navegacion */
.barra-nav{
    background-color: rgba(220, 220, 220, 0.2);
    border-bottom: 1px solid #0CABAE;
    height: 80px;
}
.barra-nav a{
    font-family: 'Zilla Slab';
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.369);
}
.navbar{
    margin-top: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    height: 80px;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    z-index: 9999;
}
.navbar-collapse{
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0;
}
.nav-link::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.dropdown-item::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.dropdown-item:active{
    background-color: #2a2a2a;
}
.navbar img {
    width: 200px;
    height: 200px;
}
/* Seccion Servicios */
/* Titulo Principal */
.titulo-principal{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-family: "Mi Fuente";
    color: #02ADAE;
    background-color: #2a2a2a;
}
.titulo-principal span::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.titulo-con-lineas {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.titulo-con-lineas::before, .titulo-con-lineas::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 26%;
    height: 2px;
    background: #02ADAE;
}
.titulo-con-lineas::before {
    left: 0;
}
.titulo-con-lineas::after {
    right: 0;
}
/* Links Principal */
.links{
    width: 100%;
    margin: 0px;
    padding: 30px;
    background-color: #2a2a2a;
    color: white;
    font-family: "Mi Fuente";
    font-size: 42px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.links a{
    text-decoration: none;
    color: white;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}
.links a::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.links a:hover{
    text-shadow: 0 0 20px rgb(205, 203, 203);
}
/* Seccion Beneficios */
.sect-beneficios{
    width: 100%;
    background-color: #2a2a2a;
    margin: 0px;
}
.titulo-beneficios{
    color: #02ADAE;
    font-size: 50px;
    font-family: "Mi Fuente";
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}
.titulo-beneficios::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.sect-beneficios .texto{
    color: white;
    width: 50%;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 50px;
}
.sect-beneficios .texto::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
/* Cards */
.sect-beneficios .sect-card{
    margin: 0px;
    padding: 20px;
}
.sect-beneficios .card{
    width: 25%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-height: 100%;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 15px gray;
}
.sect-beneficios .card-title{
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: #02ADAE;
    font-family: "Mi Fuente";
    font-size: 35px;
}
.sect-beneficios .card-title::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.sect-beneficios .card-text{
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.sect-beneficios .card-text::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.sect-beneficios img{
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}
/* Caracteristicas Servicio */
.sect-carac{
    width: 100%;
    background-color: #2a2a2a;
    margin: 0;
    padding-top: 50px;
}
.sect-carac .texto{
    color: white;
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
}
.sect-carac .texto::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.sect-car{
    margin: 0px auto;
    padding: 20px;
}
.sect-car .padre{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sect-car .caja{
    position: relative;
    margin: 20px;
    display: flex;
    padding: 20px;
    background-color: rgba(220, 220, 220, 1);
    border-radius: 25px 0 25px 0;
    -webkit-border-radius: 25px 0 25px 0;
    -moz-border-radius: 25px 0 25px 0;
    -ms-border-radius: 25px 0 25px 0;
    -o-border-radius: 25px 0 25px 0;
    border: 2px solid #0CABAE;
    cursor: pointer;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    text-decoration: none;
}
.sect-car .caja:hover{
    box-shadow: 0px 0px 30px gray;
}
/* .sect-car .caja i{
    font-size: 25px;
    text-align: center;
    color: #02ADAE;
    position: absolute;
    left: 0%;
} */
.sect-car .caja h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    font-family: "Mi Fuente";
    color: black;
}
.sect-car h2::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.padre button.active{
    background-color: #02ADAE;
    border: 3px solid #2a2a2a;
    box-shadow: 0px 0px 30px gray;
}
.padre button.active i{
    color: black;
}
/* Inkanet */
.sect-ink{
    width: 100%;
    background-color: #2a2a2a;
    margin: 0;
    padding-bottom: 50px;
}
.sect-ink .texto{
    color: white;
    padding: 0 50px;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}
.sect-ink p::selection{
    color: #2a2a2a;
    background-color: #02ADAE;
}
.sect-ink .imgen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect-ink img{
    width: 65%;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.sect-ink .imgen img:hover{
    width: 70%;
}
/* Pie de Pagina */
.diseño img{
    width: 100%;
    border: none;
    margin: 0; 
}
footer{
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer img{
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;
}
.texto-footer{
    max-width: 300px;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}
.texto-footer::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.derechos-de-autor::selection{
    color: #02ADAE;
    background-color: #2a2a2a;  
}
.iconos-redes-sociales i{
    font-size: 35px;
    margin: 0 10px;
    color: #0CABAE;
}
.iconos-redes-sociales a:hover i{
    color: rgb(220, 220, 220);
}
/* Responsivos Medias Querys */
/* Barra de navegación */
@media screen and (max-width: 768px) {
    .navbar-nav {
        display: none;
    }
    .navbar-collapse{
        background-color: rgb(220, 220, 220);
        padding: 10px 0px;
    }
    .barra-nav{
        padding: 0;
    }
    .barra-nav img{
        margin-right: 10px;
    }
    .barra-nav button{
        margin-left: 35px;
    }
}
@media screen and (max-width: 445px) {
    .navbar-nav {
        display: none;
    }
    .navbar-collapse{
        background-color: rgb(220, 220, 220);
        padding: 10px 0px;
    }
    .barra-nav{
        padding: 0;
    }
    .barra-nav img{
        margin-right: 10px;
    }
    .barra-nav button{
        margin-left: 10px;
    }
}
/* Titulo Principal */
@media screen and (max-width: 720px) {
    .titulo-con-lineas::before, .titulo-con-lineas::after {
        width: 10%;
    }
    .titulo-principal{
        font-size: 55px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 375px) {
    .titulo-con-lineas::before, .titulo-con-lineas::after {
        width: 12%;
    }
    .titulo-principal{
        font-size: 28px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 360px) {
    .titulo-con-lineas::before, .titulo-con-lineas::after {
        width: 8%;
    }
    .titulo-principal{
        font-size: 30px;
        padding-top: 10px;
    }
}
/* Links */
@media screen and (max-width: 768px) {
    .links{
        width: 100%;
        margin: 0px;
        padding: 30px 0;
        font-size: 35px;
    }
    .links a{
        margin: 0;
        padding: 0;
    }
    .links .row{
        padding: 0;
        margin: 0;
    }
    .links .row .col-4{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 576px) {
    .links{
        width: 100%;
        margin: 0px;
        padding: 30px 0;
        font-size: 25px;
    }
    .links a{
        margin: 0;
        padding: 0;
    }
    .links .row{
        padding: 0;
        margin: 0;
    }
    .links .row .col-4{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 445px) {
    .links{
        width: 100%;
        margin: 0px;
        padding: 30px 0;
        font-size: 18px;
    }
    .links a{
        margin: 0;
        padding: 0;
    }
    .links .row{
        padding: 0;
        margin: 0;
    }
    .links .row .col-4{
        padding: 0;
        margin: 0;
    }
}
/* Beneficios */
@media screen and (max-width: 720px) {
    .titulo-beneficios{
        font-size: 70px;
    }
    .sect-beneficios .texto{
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
    .sect-beneficios .sect-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sect-beneficios .card{
        width: 100%;
    }
    .sect-beneficios .card-title{
        font-size: 70px;
    }
    .sect-beneficios .card-text{
        font-size: 22px;
        line-height: 30px;
    }

}
@media screen and (max-width: 576px) {
    .titulo-beneficios{
        font-size: 35px;
    }
    .sect-beneficios .texto{
        width: 90%;
        font-size: 14px;
        line-height: 20px;
    }
    .sect-beneficios .card{
        width: 100%;
    }
    .sect-beneficios .card-title{
        font-size: 30px;
    }
    .sect-beneficios .card-text{
        font-size: 14px;
        line-height: 20px;
    }
    .sect-beneficios .sect-card {
        flex-direction: column;
    }
    .sect-beneficios .sect-card .card img{
        height: 50%;
    }
}
/* Seccion Caracteristicas */
@media screen and (max-width: 720px) {
    .titulo-beneficios{
        font-size: 60px;
    }
    .sect-carac .texto{
        width: 100%;    
        font-size: 22px;
        line-height: 30px;
    }
    .sect-car .caja h2{
        font-size: 28px;
    }
    .sect-car .card-text {
        font-size: 20px;
    }
}
@media screen and (max-width: 375px) {
    .titulo-beneficios{
        font-size: 35px;
    }
    .sect-carac .texto{
        width: 90%;
        font-size: 14px;
        line-height: 20px;
    }
    .sect-car .caja I{
        visibility: hidden;
    }
    .sect-car .caja h2{
        font-size: 17px;
    }
}
@media screen and (max-width: 360px) {
    .titulo-beneficios{
        font-size: 35px;
    }
    .sect-carac .texto{
        width: 90%;
        font-size: 14px;
        line-height: 20px;
    }
    .sect-car .caja{
        position: relative;
        margin: 20px;
        display: flex;
        padding: 20px;
        background-color: rgba(220, 220, 220, 1);
        border-radius: 25px 0 25px 0;
        -webkit-border-radius: 25px 0 25px 0;
        -moz-border-radius: 25px 0 25px 0;
        -ms-border-radius: 25px 0 25px 0;
        -o-border-radius: 25px 0 25px 0;
        border: 2px solid #0CABAE;
        cursor: pointer;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        text-decoration: none;
    }
    .sect-car .caja h2{
        font-size: 16px;
    }
}
/* Seccion Inkanet */
@media screen and (max-width: 720px) {
    .sect-ink .texto p{
        font-size: 20px;
        line-height: 22px;
    }
    .sect-ink .card{
        width: 30%;
        max-height: 50%;
    }
    .sect-ink .card-title{
        font-size: 25px;
    }
    .sect-ink .card-text{
        font-size: 16px;
        line-height: 22px;
    }
    .sect-ink .imgen{
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .sect-ink{
        width: 100%;
        background-color: #2a2a2a;
        margin: 0;
        padding-bottom: 50px;
    }
    .sect-ink .texto{
        color: white;
        padding: 0 50px;
        text-align: justify;
        font-size: 18px;
        line-height: 24px;
    }
    .sect-ink p::selection{
        color: #2a2a2a;
        background-color: #02ADAE;
    }
    .sect-ink .imgen{
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .sect-ink img{
        width: 65%;
    }
    .sect-ink .imgen img:hover{
        width: 70%;
        transition: ease 0.5s;
        -webkit-transition: ease 0.5s;
        -moz-transition: ease 0.5s;
        -ms-transition: ease 0.5s;
        -o-transition: ease 0.5s;
    }
    .sect-ink .sect-card{
        margin-top: 50px;
        padding: 20px;
    }
    .sect-ink .card{
        width: 25%;
        max-height: 100%;
        background-color: transparent;
        border: none;
    }
    .sect-ink .card-title{
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        color: #02ADAE;
        font-family: "Mi Fuente";
        font-size: 35px;
    }
    .sect-ink .card-title::selection{
        color: #2a2a2a;
        background-color: #02ADAE;
    }
    .sect-ink .card-text{
        text-align: center;
        padding: 15px;
        color: white;
        font-size: 18px;
        line-height: 24px;
    }
    .sect-ink .card-text::selection{
        color: #2a2a2a;
        background-color: #02ADAE;
    }
    .sect-ink .card-img-top{
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .sect-ink .imgen{
        display: none;
    }
}
/* Footer */
/* Smartphone Grande */
@media screen and (max-width: 720px) {
    footer img{
        width: 150px;
        height: 150px;
    }
}
/* Movil Medio */
@media screen and (max-width: 375px) {
    footer img{
        width: 100px;
        height: 100px;
    }
}
/* Movil Pequeño */
@media screen and (max-width: 360px) {
    footer img{
        width: 100px;
        height: 100px;
    }
}