@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=Montserrat&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=Montserrat:wght@400;700&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=Montserrat:wght@100&family=Open+Sans&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Geologica:wght@300&family=Lora&family=Montserrat:wght@100&family=Open+Sans&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dela+Gothic+One&family=Geologica:wght@300&family=Lora&family=Montserrat:wght@100&family=Open+Sans&family=PT+Serif&family=Quicksand:wght@300&family=Raleway:wght@200&family=Rubik+Dirt&family=Share+Tech+Mono&family=Zilla+Slab:ital,wght@0,700;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 15px; 
}
body::-webkit-scrollbar-track {
    background-color: rgba(220, 220, 220, 0.2);
    background-color: #2a2a2a;
}
body::-webkit-scrollbar-thumb {
    background-color: #02ADAE;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
@font-face {
    font-family: 'Mi Fuente';
    src: url('../fuentes/Franklin\ Gothic\ Extra\ Condensed.ttf') format('truetype');
}
/* Boton Whatsapp */
.boton-whatsapp {
    width: 30px;
    height: 30px;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.boton-whatsapp a {
    text-decoration: none;
    color: white;
}
.boton-whatsapp i {
    font-size: 35px;
}
/* Barra de navegacion */
.barra-nav{
    background-color: rgba(220, 220, 220, 0.2);
    border-bottom: 1px solid #0CABAE;
    height: 80px;
}
.barra-nav a{
    font-family: 'Zilla Slab';
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.369);
}
.navbar{
    margin-top: 0;
    padding: 0;
    position: sticky;
    top: 0px;
    height: 80px;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    z-index: 9999;
}
.navbar-collapse{
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0;
}
.nav-link::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.dropdown-item::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.dropdown-item:active{
    background-color: #2a2a2a;
}
.navbar img {
    width: 200px;
    height: 200px;
}
/* Seccion Nosotros */
/* Titulo Principal */
.titulo-principal{
    font-family: "Mi Fuente";
    font-size: 60px;
    text-transform: uppercase;
    color: #0CABAE;
    margin: 0px;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.2);
}
.titulo-principal::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
/* Seccion Links */
.sect-links{
    background-color: #0CABAE;
    margin: 0;
    padding: 15px;
}
.sect-row{
    margin: 0px;
}
.sect-row .texto{
    font-size: 36px;
    font-family: "Mi Fuente";
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
.sect-row .texto::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.sect-row .texto:hover{
    text-shadow: 2px 2px 2px black;
}
.titulo-an{
    margin: 20px 0px;
    padding: 20px 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 33px;
    color: #323e48;
}
.sect-an li{
    margin: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}
.titulo-an span{
    display: block;
    background-color: #0CABAE;
    width: 100px;
    height: 10px;
    margin: 10px 0;
}
/* Seccion Historia */
.sect-historia{
    width: 100%;
    max-height: 514px;
    background-color: rgba(220, 220, 220, 0.2);
}
.sect-historia header::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.sect-historia p::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.sect-historia .texto{
    margin: 0;
    padding: 10px 25px;
}
.titulo-sec{
    margin: 0;
    padding: 20px 0px;
    text-align: left;
    color: #0CABAE;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Mi Fuente";
}
.sect-historia .imagen{
    margin: 0;
    padding: 0;
    background-image: url("../images/proposito.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Seccion Proposito */
.sect-proposito{
    width: 100%;
    max-height: 100%;
    background-color: rgba(220, 220, 220, 0.2);
}
.sect-proposito .texto{
    margin: 0;
    padding: 10px 25px;
}
.sect-proposito .texto p, .sect-historia .texto p{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}
.sect-proposito .imagen{
    margin: 0;
    padding: 0;
    background-image: url("../images/historia.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sect-proposito header::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.sect-proposito p::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.sect-proposito h5::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
/* Seccion Estadistica */
.sect-es{
    margin: 0px;
    padding: 30px 0;
    max-width: 100%;
    height: auto;
    background-color: #2e2e2e;
    box-shadow: 0 0 20px gray;
}
.sect-firts, .sect-sec{
    height: 50%;
    margin: 0px;
    padding: 0px;
}
.sect-col-firts, .sect-col-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.sect-es .icono{
    font-size: 60px;
    color: #0CABAE;
    padding: 10px 0px;
    text-align: right;
    margin: 0px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.sect-es .icono:hover{
    font-size: 100px;
}
.sect-es .texto{
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    font-family: 'Geologica', sans-serif;
    color: white;
    margin: 0px;
}
.sect-es .texto::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
/* Seccion Principios */
.seccion-principios{
    width: 100%;
    max-height: 800px;
    margin: auto;
    padding: 20px;
    border-top: 2px solid #0CABAE;
    background-color: rgba(220, 220, 220, 0.2);
}
.seccion-principios .titulo-an{
    margin: 10px 0;
    padding: 20px 12px;
    font-family: "Mi Fuente";
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 33px;
    color: #2e2e2e;
    text-transform: uppercase;
}
.seccion-principios .titulo-an::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.overlay{
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'Monsetrrat';
}
.card{
    position: relative;
    border: 1px solid #0CABAE;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.card-body{
    background-color: #2e2e2e;
    color: white;
}
.card:hover img{
    opacity: 0.2;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    outline: 5px ridge #0CABAE;
    box-shadow: 0 0 15px gray;
}
.seccion-principios p::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
/* Pie de Pagina */
.diseño img{
    width: 100%;
    border: none;
    margin: 0; 
}
footer{
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer img{
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;
}
.texto-footer{
    max-width: 300px;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}
.texto-footer::selection{
    color: #02ADAE;
    background-color: #2a2a2a;
}
.derechos-de-autor::selection{
    color: #02ADAE;
    background-color: #2a2a2a;  
}
.iconos-redes-sociales i{
    font-size: 35px;
    margin: 0 10px;
    color: #0CABAE;
}
.iconos-redes-sociales a:hover i{
    color: rgb(220, 220, 220);
}

/* Responsivos Medias Querys */
/* Barra de navegación */
@media screen and (max-width: 768px) {
    .navbar-nav {
        display: none;
    }
    .navbar-collapse{
        background-color: rgb(220, 220, 220);
        padding: 10px 0px;
    }
    .barra-nav{
        padding: 0;
    }
    .barra-nav img{
        margin-right: 10px;
    }
    .barra-nav button{
        margin-left: 10px;
    }
}
/* Seccion Historia */
/* Extra grande (para pantallas grandes) */
@media only screen and (min-width: 1201px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
}
/* Grande (para ordenadores de escritorio grandes) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
}
/* Medio grande (para tabletas en paisaje y algunos ordenadores de escritorio) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
}
/* Medio (para retratos de tabletas y teléfonos móviles grandes) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
}
/* Medio pequeño (para teléfonos móviles grandes) */
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
    .sect-historia .imagen{
        visibility: hidden;
    }
}
/* Pequeño (para teléfonos móviles pequeños) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
    .sect-historia .imagen{
        visibility: hidden;
    }
}
/* Extra pequeño (para teléfonos móviles muy pequeños) */
@media only screen and (max-width: 320px) {
    .titulo-principal{
        font-size: 50px;
    }
    .sect-historia header{
        font-size: 40px;
        text-align: center;
    }
    .sect-historia p{
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
    .sect-historia{
        max-height: 800px;
    }
    .sect-historia .imagen{
        visibility: hidden;
    }
}
/* Seccion Proposito */
/* Grande (para ordenadores de escritorio grandes) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .sect-proposito header{
        font-size: 40px;
        text-align: center;
    }
    .sect-proposito p{
        font-size: 18px;
        line-height: 16px;
        text-align: justify;
    }
    .sect-proposito{
        max-height: 1300px;
    }
}
/* Medio grande (para tabletas en paisaje y algunos ordenadores de escritorio) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .sect-proposito header{
        font-size: 40px;
        text-align: center;
    }
    .sect-proposito p{
        font-size: 18px;
        line-height: 16px;
        text-align: justify;
    }
    .sect-proposito{
        max-height: 1300px;
    }
}
/* Medio (para retratos de tabletas y teléfonos móviles grandes) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .sect-proposito header{
        font-size: 40px;
        text-align: center;
    }
    .sect-proposito p{
        font-size: 18px;
        line-height: 16px;
        text-align: justify;
    }
    .sect-proposito{
        max-height: 1300px;
    }
}
/* Medio pequeño (para teléfonos móviles grandes) */
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .sect-proposito header{
        font-size: 40px;
        text-align: center;
    }
    .sect-proposito p{
        font-size: 18px;
        line-height: 16px;
        text-align: justify;
    }
    .sect-proposito{
        max-height: 1300px;
    }
    .sect-proposito .imagen{
        visibility: hidden;
    }
}
/* Pequeño (para teléfonos móviles pequeños) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .sect-proposito header{
        font-size: 40px;
        text-align: center;
    }
    .sect-proposito p{
        font-size: 18px;
        line-height: 16px;
        text-align: justify;
    }
    .sect-proposito{
        max-height: 1300px;
    }
    .sect-proposito .imagen{
        visibility: hidden;
    }
}
/* Extra pequeño (para teléfonos móviles muy pequeños) */
@media only screen and (max-width: 320px) {
    .sect-proposito header{
        font-size: 40px;
        text-align: center;
    }
    .sect-proposito p{
        font-size: 18px;
        line-height: 16px;
        text-align: justify;
    }
    .sect-proposito{
        max-height: 1100px;
    }
    .sect-proposito .imagen{
        visibility: hidden;
    }
}

/* Seccion Estadistica */
/* Pequeño (para teléfonos móviles pequeños) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .sect-col-firts, .sect-col-sec{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
    }
    .sect-es .icono:hover{
        font-size: 100px;
    }
    .sect-es .texto{
        font-size: 14px;
        line-height: 18px;
    }
    .sect-es i{
        font-size: 35px;
    }
    .sect-col-sec .icono{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sect-col-firts .icono{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sect-es{
        margin-top: 120px;
    }
}
/* Extra pequeño (para teléfonos móviles muy pequeños) */
@media only screen and (max-width: 320px) {
    .sect-col-firts, .sect-col-sec{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
    }
    .sect-es .icono:hover{
        font-size: 100px;
    }
    .sect-es .texto{
        font-size: 14px;
        line-height: 18px;
    }
    .sect-es i{
        font-size: 35px;
    }
    .sect-col-sec .icono{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sect-col-firts .icono{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sect-es{
        margin-top: 120px;
    }
}

/* Seccion Principios */
/* Extra grande (para pantallas grandes) */
@media only screen and (min-width: 1201px) {
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
        font-size: 16px;
    }
    .card-body {
        min-height: 150px;
    }
}
/* Grande (para ordenadores de escritorio grandes) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
    }
    .card-body {
        height: 220px;
    }
}
/* Medio grande (para tabletas en paisaje y algunos ordenadores de escritorio) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
    }
    .card-body {
        height: 230px;
    }
}
/* Medio (para retratos de tabletas y teléfonos móviles grandes) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
    }
    .card-body {
        height: 280px;
    }
}
/* Medio pequeño (para teléfonos móviles grandes) */
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .seccion-principios{
        width: 100%;
        max-height: 2700px;
    }
    .seccion-principios div {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
    }
}
/* Pequeño (para teléfonos móviles pequeños) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .seccion-principios{
        width: 100%;
        max-height: 2400px;
    }
    .seccion-principios div {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
    }
}
/* Extra pequeño (para teléfonos móviles muy pequeños) */
@media only screen and (max-width: 320px) {
    .seccion-principios{
        width: 100%;
        max-height: 1800px;
    }
    .seccion-principios div {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .overlay{
        transition: all 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .overlay p{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: 'Montserrat';
    }
    .card-text {
        text-align: center;
    }
}


/* Seccion Footer */
/* Footer */
/* Smartphone Grande */
@media screen and (max-width: 720px) {
    footer img{
        width: 150px;
        height: 150px;
    }
}
/* Movil Medio */
@media screen and (max-width: 375px) {
    footer img{
        width: 100px;
        height: 100px;
    }
}
/* Movil Pequeño */
@media screen and (max-width: 360px) {
    footer img{
        width: 100px;
        height: 100px;
    }
}